include ./mixins

doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel="stylesheet", href="/stylesheets/bootstrap-4.5.2.min.css")
    <script src="/javascripts/jquery-3.5.1.min.js"></script>
    script(src="/javascripts/bootstrap-4.5.2.min.js")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="icon", href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📚</text></svg>")

  body
    div(class='container-fluid')
      div(class='row')
        div(class='col-sm-2')
          block sidebar
            ul(class='sidebar-nav')
              li
                a(href='/catalog') Home
              li
                a(href='/catalog/books') All books
              li
                a(href='/catalog/authors') All authors
              li
                a(href='/catalog/genres') All genres
              li
                a(href='/catalog/bookinstances') All book-copies

              li
                hr

              li
                a(href='/catalog/author/create') Create new author
              li
                a(href='/catalog/genre/create') Create new genre
              li
                a(href='/catalog/book/create') Create new book
              li
                a(href='/catalog/bookinstance/create') Create new book instance (copy)

              li
                hr
              li
                a(href='/user/list/all') All Users
              li
                a(href='/user/login') Log In
              li
                a(href='/user/register') Sign Up


        div(class='col-sm-10')
          block content